#head {
	font-size:xx-large;
	font-family:Helvetica;
	font-style: bold;
	font-weight: 700;
	text-align: center;
}

#container {
  height: 800px;
  width: 800px;
  background-color:#F9F9F9;
  margin:auto;
}

table, td {
	border:0px;
	border-collapse: collapse;
}

tr {
	margin:auto;
	height:50px;
}

td {
	width:50px;
}

#reset {
	text-align:center;
}

button {
	border-radius: 28px;
	font-family: Arial;
	color: #FFF;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	background-image: linear-gradient(to bottom, #3CB0FD, #3498DB);
	text-decoration: none;
}
